htng/wsdls/ARIAndReservationPullBinding.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://htng.org/2014B" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsp="http://www.w3.org/ns/ws-policy" name="ARIAndReservationPullBinding" targetNamespace="http://htng.org/2014B">
	<wsdl:import namespace="http://htng.org/2014B" location="ARIAndReservationPullPort.wsdl"/>
	<wsdl:binding name="ARIAndReservationPullBinding" type="tns:ARIAndReservationPull">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="GetHotelAvailability">
			<soap:operation soapAction="http://htng.org/2014B/HTNG_ARIAndReservationPullService#GetHotelAvailability" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetHotelInventoryBlock">
			<soap:operation soapAction="http://htng.org/2014B/HTNG_ARIAndReservationPullService#GetHotelInventoryBlock" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetHotelInventoryCount">
			<soap:operation soapAction="http://htng.org/2014B/HTNG_ARIAndReservationPullService#GetHotelInventoryCount" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetHotelRatePlan">
			<soap:operation soapAction="http://htng.org/2014B/HTNG_ARIAndReservationPullService#GetHotelRatePlan" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="UpdatePulledReservations">
			<soap:operation soapAction="http://htng.org/2014B/HTNG_ARIAndReservationPullService#UpdatePulledReservations" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="RetrieveReservations">
			<soap:operation soapAction="http://htng.org/2014B/HTNG_ARIAndReservationPullService#RetrieveReservations" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
</wsdl:definitions>



