htng/wsdls/ARIAndReservationPushBinding.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://htng.org/2014B" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsp="http://www.w3.org/ns/ws-policy" name="ARIAndReservationPushBinding" targetNamespace="http://htng.org/2014B">
	<wsdl:import namespace="http://htng.org/2014B" location="ARIAndReservationPushPort.wsdl"/>
	<wsdl:binding name="ARIAndReservationPushBinding" type="tns:ARIAndReservationPush">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="OTA_HotelAvailNotifRQ">
			<soap:operation soapAction="http://htng.org/2014B/HTNG_ARIAndReservationPushService#OTA_HotelAvailNotifRQ" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="OTA_HotelInvBlockNotifRQ">
			<soap:operation soapAction="http://htng.org/2014B/HTNG_ARIAndReservationPushService#OTA_HotelInvBlockNotifRQ" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="OTA_HotelInvCountNotifRQ">
			<soap:operation soapAction="http://htng.org/2014B/HTNG_ARIAndReservationPushService#OTA_HotelInvCountNotifRQ" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="OTA_HotelRatePlanNotifRQ">
			<soap:operation soapAction="http://htng.org/2014B/HTNG_ARIAndReservationPushService#OTA_HotelRatePlanNotifRQ" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="OTA_HotelResNotifRQ">
			<soap:operation soapAction="http://htng.org/2014B/HTNG_ARIAndReservationPushService#OTA_HotelResNotifRQ" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="OTA_HotelStatsNotifRQ">
			<soap:operation soapAction="http://htng.org/2014B/HTNG_ARIAndReservationPushService#OTA_HotelStatsNotifRQ" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
</wsdl:definitions>



