htng/messages/HTNG_HotelRoomStatusSearchRS.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://htng.org/2014B" xmlns:ota="http://www.opentravel.org/OTA/2003/05" targetNamespace="http://htng.org/2014B" elementFormDefault="qualified" version="1.000" id="HTNG2014B">
	<xs:include schemaLocation="../schemas/HTNG_SimpleTypes.xsd"/>
	<xs:include schemaLocation="../schemas/HTNG_CommonTypes.xsd"/>
	<xs:import namespace="http://www.opentravel.org/OTA/2003/05" schemaLocation="../opentravel/OTA_CommonTypes.xsd"/>
	<xs:annotation>
		<xs:documentation xml:lang="en">This message is in response to the HTNG_HotelRoomStatusSearchRQ message.</xs:documentation>
	</xs:annotation>
	<xs:element name="HTNG_HotelRoomStatusSearchRS">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="HTNG_ResponseBaseType">
					<xs:sequence>
						<xs:element name="RoomInformationList">
							<xs:annotation>
								<xs:documentation xml:lang="en">The result set generated by the query sent in the request.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="RoomInformation" minOccurs="0" maxOccurs="unbounded">
										<xs:annotation>
											<xs:documentation xml:lang="en">A container element used to hold room and reservation information.</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="Room" type="HTNG_RoomElementType">
													<xs:annotation>
														<xs:documentation xml:lang="en">Used to convey information about a single room or a suite comprised of room components.</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="HotelReservations" type="ota:HotelReservationsType" minOccurs="0">
													<xs:annotation>
														<xs:documentation xml:lang="en">Used to convey information about the reservation and/or its supporting guest.</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="TPA_Extensions" type="ota:TPA_ExtensionsType" minOccurs="0">
													<xs:annotation>
														<xs:documentation xml:lang="en">This is used to exchange custom/implementation-specific values that are agreed upon between trading partners.</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
</xs:schema>




